body {
  background-color: #e9eae8 !important;
}
#navBarLinks {
  text-align: center;
}
#projectLink {
  display: block;
  text-align: center;
}
#name {
  margin-top: 3%;
  text-align: center;
  font-family: "Source Code Pro", monospace;
  font-size: 60px;
  font-weight: bolder;
}

#portrait {
  width: 50%;
  margin: 0 auto;
  display: block;
  border-radius: 100%;
  border: 0.5em solid hsl(0, 1%, 72%);
}
#portraitLargeScreen {
  margin: 0 auto;
  display: block;
  border-radius: 100%;
  border: 0.5em solid hsl(0, 1%, 72%);
}

#title {
  margin-top: 1%;
  font-family: "Fjalla One", sans-serif;
  text-align: center;
  text-decoration: underline;
}

.socials {
  text-align: center;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  font-size: 20px;
}
#githubLogo {
  width: 50px;
}
#linkedInLogo {
  width: 50px;
}

.projects {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* align-content: space-between; */
  gap: 5%;
}
#projectTitle {
  margin-top: 30px;
  font-size: 40px;
  text-align: center;
}
#smallScreenImage {
  width: 70%;
  margin: 0 auto;
  display: block;
}
#projectDetails {
  font-size: 20px;
  text-align: center;
  margin: 0 2%;
  margin-top: 20px;
}
#card {
  font-family: sans-serif;
  width: 30rem;
  margin-bottom: 10%;
  /* margin: 0 0 10% 10%; */
  /* margin-left: 10%; */
  /* margin-right: 10%; */
  /* border: 2px solid black; */
}
#cardSmallScreen {
  font-family: sans-serif;
  margin: 0.5rem;
  width: 10rem;
  /* border: 2px solid black; */
}

#statement {
  text-align: center;
  font-size: 25px;
  margin: 2.5% 20%;
  font-style: italic;
  max-width: 78ch;
}

#paragraph {
  text-align: center;
  font-size: 30px;
  max-width: 78ch;
  margin: 2.5% 20%;
  font-family: serif;
}
#paragraphSmallScreen {
  text-align: center;
  font-size: 30px;
  max-width: 78ch;
  margin: 2.5% 10%;
  font-family: serif;
}

#resume {
  text-align: center;
  font-size: 20px;
}

#contact {
  margin-top: 5%;
  list-style: none;
}

#contactList {
  list-style: none;
  padding: 0;
  margin: 0 auto;
}

#projects {
  margin-top: 5%;
}
